<!DOCTYPE html>
<html lang='en'>
	<head>
		 <!-- Bootstrap CSS -->		 
		 <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
		 
		<title>Flask App</title>
		
		{% if ENV_NAME is defined and ENV_NAME|length %}
		<link rel="stylesheet" href="https://{{BUCKET}}.s3.amazonaws.com/static/css/style.css">		
		{% else %}		
		<link rel="stylesheet" href="static/css/style.css">
		{% endif %}		
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

	</head>

	<body>
				
		<form method="post" id="form">					

			<div class="row">

				<div class="col-xs-6 col-sm-6 col-md-6 text-center">
					<h1>Aws Batch Logs</h1>



					<a id="describe_job_queues_id" class="btn btn-default btn-sm" href="#" onclick="describe_job_queues();return false;" style="margin-right: 10px;">				
						{% if ENV_NAME is defined and ENV_NAME|length %}
						<img id="awslogs" src="https://{{BUCKET}}.s3.amazonaws.com/static/img/aws_batch.png" style="border: 0; float: left; margin-right: 15px; width:100px; height:100px" />						
						{% else %}
						<img id="awslogs" src="static/img/aws_batch.png" style="border: 0; float: left; margin-right: 15px; width:100px; height:100px" />
						{% endif %}							
					</a>			
				</div>

				<div class="col-xs-6 col-sm-6 col-md-6 text-center">
					<h1>Aws Lambda Logs</h1>

					<a id="describe_lambdas_id" class="btn btn-default btn-sm" href="#" onclick="describe_lambdas();return false;" style="margin-right: 10px;">				
						{% if ENV_NAME is defined and ENV_NAME|length %}
						<img id="awslogs" src="https://{{BUCKET}}.s3.amazonaws.com/static/img/aws_lambda.png" style="border: 0; float: left; margin-right: 15px; width:100px; height:100px" />						
						{% else %}
						<img id="awslogs" src="static/img/aws_lambda.png" style="border: 0; float: left; margin-right: 15px; width:100px; height:100px" />
						{% endif %}													
					</a>			
				</div>
			</div>
		</form>
		
		<p id="describe_job_queues"></p>
		<p id="square"></p>		
		<script>var stage = '{{ENV_NAME}}';</script>
	
		{% if ENV_NAME is defined and ENV_NAME|length %}
		<script src="https://{{BUCKET}}.s3.amazonaws.com/static/js/script.js"></script>
		{% else %}
		<script src="static/js/script.js"></script>		
		{% endif %}		

		<!-- The Modal -->
	<div id="myModal" class="modal">
	
		<!-- Modal content -->
		<div class="modal-content">
			<div class="modal-header">
				<span class="close">&times;</span>
				<h3 id="textheader"></h3>
			</div>

			<div class="modal-body">
				<p id="textlog"></p>
			</div>

			<div class="modal-footer">
				<h3></h3>
			</div>
		</div>
	
	</div>

	</body>
	<br>
	<br>
	<br>
</html>